<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ITM</title>
    <link rel="stylesheet" href="https://unpkg.com/@coreui/coreui/dist/css/coreui.min.css">
    <!-- Load AngularJS -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script type="text/javascript">
      var app = angular.module("CustomerManagement", []);

      //Controller Part
      app.controller("CustomerManagementController", function ($scope, $http) {

        //Initialize page with default data which is blank in this example
        $scope.customers = [];

        $scope.form = {
          id: -1,
          name: ""
        };

        //Now load the data from server
        _refreshPageData();

        //HTTP POST/PUT methods for add/edit customers
        $scope.update = function () {
          var method = "";
          var url = "";
          var data = {};
          //if ($scope.form.id == -1) {
            //Id is absent so add customers - POST operation
            method = "POST";
            url = '/api';
            data.first_name = $scope.form.first_name;
            data.last_name = $scope.form.last_name;
            data.email = $scope.form.email;
          /*} else {
            //If Id is present, it's edit operation - PUT operation
            method = "PUT";
            url = '/api' + $scope.form.id;
            data.name = $scope.form.name;
          }*/

          $http({
            method: method,
            url: url,
            data: angular.toJson(data),
            headers: {
              'Content-Type': 'application/json'
            }
          }).then(_success, _error);
        };

        //HTTP DELETE- delete customer by id
        $scope.remove = function (customer) {
          $http({
            method: 'DELETE',
            url: '/api' + customer.id
          }).then(_success, _error);
        };

        //In case of edit customers, populate form with customer data
        $scope.edit = function (customer) {
          $scope.form.name = customer.name;
          $scope.form.id = customer.id;
        };

          /* Private Methods */
        //HTTP GET- get all customers collection
        function _refreshPageData() {
          $http({
            method: 'GET',
            url: '/api'
          }).then(function successCallback(response) {
            $scope.customers = response.data;
          }, function errorCallback(response) {
            console.log(response.statusText);
          });
        }

        function _success(response) {
          _refreshPageData();
          _clearForm()
        }

        function _error(response) {
          alert(response.data.message || response.statusText);
        }

        //Clear the form
        function _clearForm() {
          $scope.form.name = "";
          $scope.form.id = -1;
        }
      });
    </script>
</head>
<body ng-app="CustomerManagement" ng-controller="CustomerManagementController">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/logout">Logout</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/dashboard">Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/customers">Customers</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>

    <div class="container mt-4">
      <h1>Customers Management Page</h1>
      <div>
        <form ng-submit="update()">
          <div class="form-row">
            <div class="col-md-4 mb-3">
              <label for="first_name">First name</label>
              <input ng-model="form.first_name" type="text" class="form-control" id="first_name" value="Mark" required>
            </div>
            <div class="col-md-4 mb-3">
              <label for="last_name">Last name</label>
              <input ng-model="form.last_name" type="text" class="form-control" id="last_name" value="Otto" required>
            </div>
            <div class="col-md-4 mb-3">
              <label for="email">Email</label>
              <div class="input-group">
                <input ng-model="form.email" type="text" class="form-control" id="email" value="marko@noanswer.org" required>
              </div>
            </div>
          </div>
          <input class="btn btn-primary" type="submit" value="Save"/>
        </form>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="customer in customers">
            <th scope="row">{{ customer.id }}</th>
            <td>{{ customer.first_name }}</td>
            <td>{{ customer.last_name }}</td>
            <td>{{ customer.email }}</td>
          </tr>
        </tbody>
      </table>
    </div>


<script src="https://unpkg.com/@coreui/coreui/dist/js/coreui.bundle.min.js"></script>
</body>
</html>